In [9]:
import os
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
import unicodedata,string
import pandas as pd

In [10]:
path = os.getcwd() + "\\preprocessed_text.txt"

with open(path,"r") as file:
    preprocessed_text = file.read().split()

In [11]:
def preprocess(data):
    # convert to lower case and remove numbers , punctuations , whitespaces
    
    data = data.lower()
    data = re.sub(r'\d+','',data)
    data = re.sub(r'\n',' ',data)
    data = re.sub(r'[^A-Za-z]+',' ',data)
    data = data.translate(str.maketrans('','', string.punctuation))
    data = data.strip()

    
    stop_words = set(stopwords.words('english'))   
    tokens = word_tokenize(data)
    result = [i for i in tokens if  i not in stop_words]
    result = [unicodedata.normalize('NFKD', i).encode('ascii', 'ignore').decode('utf-8', 'ignore') for i in result] 
    
    stemmer= PorterStemmer()
    new_result = [stemmer.stem(i) for i in result]
    new_result = [i for i in new_result if  i not in stop_words]
    
    
    return new_result

In [12]:
def get_index(word,documents):
    index = {}
    
    for i in documents.keys():
        count = documents[i].count(word)
        index[i] = count
        
    return index

In [14]:
path = os.getcwd() + "\\Inverted Index"

documents = {}

for filename in os.listdir(path):
    if filename.split(".")[-1] == "txt" :
        with open(path + "//" + filename,"r") as file:
            data = file.read()
        result = preprocess(data)
        documents[filename] = result

In [18]:
inverted_index = {}

for i in preprocessed_text:
    inverted_index[i] = get_index(i,documents)

In [7]:
dataframe = pd.DataFrame(inverted_index).T
dataframe

,T1.txt,T10.txt,T2.txt,T3.txt,T4.txt,T5.txt,T6.txt,T7.txt,T8.txt,T9.txt
abandon,1,0,0,0,0,0,0,0,2,0
abbrevi,0,0,1,0,0,0,0,0,0,0
abdomen,0,0,1,0,0,0,0,0,0,0
abdomin,0,0,1,0,0,0,0,0,0,0
aberdeen,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
zo,0,0,0,1,0,0,0,0,0,0
zone,0,0,2,0,0,0,0,0,0,0
zoolog,0,0,0,0,0,0,0,0,0,5
zoologist,0,0,2,0,0,0,0,0,0,0
zoophyt,0,0,0,3,0,0,0,0,0,1

In [19]:
word = input("enter word :")

if word in dataframe.index:
    print("\n",dataframe.loc[word])

enter word : human

 T1.txt     1
T10.txt    0
T2.txt     6
T3.txt     3
T4.txt     3
T5.txt     1
T6.txt     0
T7.txt     1
T8.txt     0
T9.txt     8
Name: human, dtype: int64

In [35]:
dataframe.to_csv("inverted_index.csv")